Documents
workspace
.ICEauthority
.Xauthority
.bash_history
.cache/
.compiz/
.dbus/
.gconf/
.gnome/
.java/
.lesshst
.local/
.mozilla/
.pip/
.pki/
.psql_history
.ssh/
.viminfo
.virtualenvs/
.xsession-errors
.xsession-errors.old
Downloads/
IdeaProjects/
examples.desktop
opt/
.IdeaIC12
.eclipse
.config
